amqp==5.1.1
asdf==3.1.0
asdf-astropy==0.5.0
asdf_coordinates_schemas==0.3.0
asdf_standard==1.1.1
asdf_transform_schemas==0.5.0
asdf_unit_schemas==0.2.0
asdf_wcs_schemas==0.4.0
astride @ git+https://github.com/dwkim78/ASTRiDE@1c42aaf391b926ede903d0b621f19194d8f2641a
astroalign==2.5.1
astropy==5.3.4
astropy-healpix==1.0.2
astroquery==0.4.7.dev9008
attrs==23.2.0
beautifulsoup4==4.12.3
boto3==1.34.62
ccdproc==2.4.1
dask==2024.2.1
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.28.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
neossat==2020.6
numpy==1.26.2
oauthlib==3.2.2
photutils==1.9.0
scipy==1.11.4
tqdm==4.66.1
